<ion-content [fullscreen]="true">
    <ion-grid no-padding [fullscreen]="true" style="display: flex; flex-flow: column; background-color: blueviolet;">
        <ion-row>
            <ion-label class="output-label">{{calcBrain.displayString}}</ion-label>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button class="reset-button" expand="full" type="reset" (click)="reset()">AC</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="back-button" expand="full" type="reset" (click)="delete()">&#9003;</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="operations" expand="full" type="submit" (click)="perform('%')">%
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="operations" expand="full" type="submit" (click)="perform('÷')">÷
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button class="buttons" expand="full" type="submit" (click)="numberClicked('9')">9</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="buttons" expand="full" type="submit" (click)="numberClicked('8')">8</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="buttons" expand="full" type="submit" (click)="numberClicked('7')">7</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="operations" expand="full" type="submit" (click)="perform('*')">*
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button class="buttons" expand="full" type="submit" (click)="numberClicked('6')">6</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="buttons" expand="full" type="submit" (click)="numberClicked('5')">5</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="buttons" expand="full" type="submit" (click)="numberClicked('4')">4</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="operations" expand="full" type="submit" (click)="perform('-')">-
                </ion-button>
            </ion-col>
        </ion-row>
        <!-- <ion-row style="flex-grow: 2;">
            <ion-col size="9"> -->
        <ion-row>
            <ion-col>
                <ion-button class="buttons" expand="full" type="submit" (click)="numberClicked('3')">3
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="buttons" expand="full" type="submit" (click)="numberClicked('2')">2
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="buttons" expand="full" type="submit" (click)="numberClicked('1')">1
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="operations" expand="full" type="submit" (click)="perform('+')">+
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-button class="buttons" expand="full" type="submit" (click)="numberClicked('0')">0
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="buttons" expand="full" type="submit" (click)="decimalClicked()">.
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="operations" expand="full" type="submit" (click)="perform('=')">=
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>