.buttons {
width: 100%;
height: 100%;
border: 1px solid black;
}

.operations{
    @extend .buttons;
    --background: #fd9f2b;
    --background-activated:  #ec8e1a;
}

.reset-button{
    @extend .buttons;
    --background: #eb4034;
    --background-activated:  #da3023;
}

.back-button{
    @extend .buttons;
    --background: #363232;
    --background-activated:  #252121;
}

.output-label {
text-align: end;
font-size: 40px;
width: 100%;
padding-right: 10px;
}

ion-grid {
    height: 100%;
    --ion-grid-column-padding:0px;
    --ion-grid-padding:0px;
  }

  ion-row {
    padding-top: 0px;
    margin: 0px;
    flex-grow: 1;
    flex-shrink: 0;
  }

  ion-col {
    padding: 0px;
    margin: 0px;
    height: 100%;
  }